*.pdb
*.ipch
*.obj
*.suo
*.sdf
*.tlog
*.lastbuildstate
*.cache
*.idb
*.log
*.user
*.opensdf
*.res
*.recipe
*.iobj
/deploy/DMX.exe
/src/.vs/DMX_Remake/CopilotIndices
/src/.vs
/src/DMX_Remake/Debug
/src/DMX_Remake/Dev
/src/DMX_Remake/All
/src/DMX_Remake/DeployToCab
/src/DMX_Remake/Production
/deploy/DATA
/deploy/DMX_DEBUG.exe
/deploy/DMX_DEV.exe
/deploy/DMX_PROD.exe
.claude/settings.local.json
/notes
/src/PLAYER_EXPERIMENTAL
