*.pdb
*.ipch
*.obj
*.suo
*.sdf
*.tlog
*.lastbuildstate
*.cache
*.idb
*.log
*.user
*.opensdf
src/DMX_Remake/Debug/DMX_Debug.exe.intermediate.manifest
src/DMX_Remake/Release/DMX.exe.intermediate.manifest
src/DMX_Remake/Debug/DMX_Debug.exe.recipe
src/DMX_Remake/Release/DMX.exe.recipe
src/DMX_Remake/Both/DMX.exe.recipe
src/DMX_Remake/Release/DMX_Remake.vcxproj.FileListAbsolute.txt
src/DMX_Remake/Debug/DMX_Remake.vcxproj.FileListAbsolute.txt
src/DMX_Remake/Debug/DMX_Debug.iobj
/src/.vs/DMX_Remake/CopilotIndices
/src/.vs
/src/DMX_Remake/Debug
/src/DMX_Remake/Release
/src/DMX_Remake/Both
/deploy/DATA
/deploy/DMX_Debug.exe
/src/DMX_Remake/DeployToCab
.claude/settings.local.json
